.skills {
    padding-inline: 1rem;
}

.skills-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: space-between;
}

.skills-content {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: 2rem 2rem;
    border-radius: 1.25rem;
}

.skills-title {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
    color: var(--text-color);
    text-align: center;
}

.skills-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 1rem;
}

.skills-group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills-data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bi-patch-check {
    font-size: 1rem;
    color: var(--text-color);
}

.skills-name {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills-level {
    font-size: var(--xs-size);
    color: var(--text-color);
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .skills-container {
        .skills-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 853px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .skills-container {
        grid-template-columns: 1fr;
        padding: 0.5rem !important;
    }

    .skills-content {
        padding: 1rem;
    }

    .skills-name,
    .skills-level {
        font-size: var(--xs-size);
    }
}

@media screen and (max-width: 350px) {
    .skills-box {
        column-gap: 1.25rem;
    }

    .skills-name {
        font-size: var(--xs-size);
    }
}
