.bi-file-earmark-arrow-down {
    margin-left: 12px;
}

.about {
    margin: 0 auto;
    padding: 1rem 1rem;
}

.about-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 4rem;
    /* height: 100vh; */
}

.about-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    justify-self: center;
    object-fit: cover;
}

.about-data {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.about-info {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about-box {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;
}

.about-icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about-title {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
}

.about-subtitle {
    font-size: var(--xxs-size);
    color: var(--text-color);
}

.about-description {
    margin-bottom: var(--mb-2-5);
    color: var(--text-color);
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        /* padding-inline: 2rem !important; */
    }

    .about-image {
        object-position: bottom;
    }

    .about-box {
        padding: 0, 75rem 0.5rem;
    }

    .about-data {
        text-align: center;
        align-items: start;
    }

    .about-info {
        justify-content: center;
        width: 100%;
    }

    .about-description {
        /* padding: 0 5rem; */
        margin-bottom: var(--mb-2);
        text-align: justify;
    }
}

@media screen and (max-width: 853px) {
    .about-container {
        align-items: start;
        /* padding-inline: 2rem !important; */
    }

    .about-img-wrapper {
        height: 300px;
    }

    .about-image {
        object-position: bottom;
    }
}

@media screen and (max-width: 576px) {
    .about-container {
        width: auto;
        /* padding-inline: 1.5rem !important; */
        margin: 0 auto;
    }

    .about-data {
        align-items: start;
    }

    .about-info {
        grid-template-columns: repeat(auto, 1fr);
        margin-inline: auto;
    }

    .about-img-wrapper {
        height: 150px;
    }

    .about-image {
        object-position: bottom;
    }

    .about-description {
        /* padding: 0.25rem; */
        font-size: var(--xs-size);
    }
}

@media screen and (max-width: 350px) {
    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-img-wrapper {
        height: 150px;
    }
}
