/* Header */
.body-lock {
    overflow: hidden;
    height: 100dvh;
    touch-action: none;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--body-color);
    border-bottom: 1px solid var(--body-muted-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 1rem;
}

.nav-logo {
    font-size: var(--l-size);
    font-weight: bolder;
    color: var(--title-color);
}

.nav-toggle i {
    font-size: 2rem;
    cursor: pointer;
}

/* Overlay */
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 995;
}

.nav-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Fullscreen right menu */
.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--title-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
    z-index: 998;
}

/* Close button inside menu */
.nav-menu-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--body-color);
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1000;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    line-height: 1;
    width: 50px;
    height: 50px;
}

.nav-menu-close i {
    display: block;
    font-size: var(--xxl-size);
}

.nav-menu-close:hover {
    transform: scale(1.1);
}

.nav-menu-close:active {
    transform: scale(0.95);
}

.nav-menu.show-menu {
    right: 0;
}

.nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.5rem;
    color: var(--body-color);
    text-decoration: none;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .nav-logo {
        display: none;
    }
}
