.testimonials {
    margin: 0 auto;
    background-color: var(--body-color) !important;
    padding-bottom: 2rem;
    height: auto;
}

.testimonial-card {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
    cursor: grab;
}

.testimonial-image {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.testimonial-name {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.testimonial-description {
    color: var(--text-color);
    font-size: var(--s-size);
}

/* Swiper Class */

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .testimonials-container {
        width: auto;
        padding-inline: 2rem !important;
    }

    .testimonial-card {
        padding: 1.25rem 1.5rem;
    }
}

@media screen and (max-width: 853px) {
    .testimonials-container {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .testimonials-container {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .testimonials {
        padding-inline: 1rem;
        padding-bottom: 6rem;
    }

    .testimonials-container {
        padding-inline: 0.5rem !important;
        width: auto;
    }

    .testimonial-description {
        font-size: var(--xs-size);
    }
}

@media screen and (max-width: 350px) {
    .testimonials {
        padding-bottom: 6rem;
    }
}
